/bin/db_driver/assetdb.class
/bin/*.class
.mtj.tmp/
*.class
*.war
*.ear
*.nar
hs_err_pid*
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
.classpath
